# Ch00 - Pandas Exercises

<img src="../../assets/workout.png"
     alt="Hierarchical clustering"
     style="width: 100px; float: right; margin: 20px" />

__Welcome to the practice exercises for chapter 00!__

The exercises are divided into three parts, gradually increasing in difficulty. Are you up to the challenge? 

The three exercises uses slightly different techniques, and different datasets.

It is recommended to use what you know and the listed resources to complete as many exercises as possible before asking for assistance.

__Enjoy!__

---

**Tips and tricks:**
<ul>
    <li/> Pandas documentation: <a>https://pandas.pydata.org/docs/user_guide/index.html#user-guide</a>
    <li/> Pandas and data-wrangling cook-book: <a>https://chrisalbon.com/</a>
</ul>

**Content:**

* [Basic exercises](#basic)
* [Medium exercises](#medium)
* [Challenging exercises](#challenge)

---

<img src="../images/beginner.png"
     alt="Hierarchical clustering"
     style="width: 75px; float: right; margin: 20px" />


## Level: Basic<a class="anchor" id="basic"></a>

__Task 1:__

Import data from this website
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user and assign it to a dataframe called `users`.

In [3]:
import pandas as pd
import numpy as np

# Enter your code below
# =====================
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep="|")
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

__Task 2:__

Explore the data.
<ol>
    <li/> Display (print on screen) the first 25 entries (rows)
    <li/> Display (print on screen) the last 10 entires (rows)
    <li/> Find the number of rows and columns in dataset
</ol>

In [4]:
# Enter your code below
# =====================
users.iloc[0:25]

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107

In [5]:
users.iloc[-10:]

     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

In [6]:
# Number of rows and cols
print(f'n rows = {users.shape[0]}, n cols = {users.shape[1]}')

n rows = 943, n cols = 5

__Task 3:__

Explore columns and rows
<ol>
    <li/> Print names of columns
    <li/> Print names of rows (index)
    <li/> Find data type of each column
</ol>

In [7]:
# Enter your code below
# =====================
print(users.columns)
print(users.index)
print(users.dtypes)

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')
RangeIndex(start=0, stop=943, step=1)
user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

__Task 4:__

Explore a single column
<ol>
    <li/> Print the 'occupation' column
    <li/> Find the number of different occupations in the dataset
    <li/> What is the most frequent occupation?
</ol>

In [8]:
# Enter your code below
# =====================
print(users['occupation'])
print(users['occupation'].unique())
print(users.groupby('occupation').size())

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object
['technician' 'other' 'writer' 'executive' 'administrator' 'student'
 'lawyer' 'educator' 'scientist' 'entertainment' 'programmer' 'librarian'
 'homemaker' 'artist' 'engineer' 'marketing' 'none' 'healthcare' 'retired'
 'salesman' 'doctor']
occupation
administrator     79
artist            28
doctor             7
educator          95
engineer          67
entertainment     18
executive         32
healthcare        16
homemaker          7
lawyer            12
librarian         51
marketing         26
none               9
other            105
programmer        66
retired           14
salesman          12
scientist         31
student          196
technician        27
writer            45
dtype: int64

__Task 5:__

Let's summarize!
<ol>
    <li/> Summarise the dataframe
    <li/> Summarize the dataframe column by column in a loop. What information can you see here that is lacking in the previous task?
</ol>

In [9]:
# Enter your code below
# =====================

for cols in users.columns:
    print(users[cols].describe())
    print('\n')

count    943.000000
mean     472.000000
std      272.364951
min        1.000000
25%      236.500000
50%      472.000000
75%      707.500000
max      943.000000
Name: user_id, dtype: float64


count    943.000000
mean      34.051962
std       12.192740
min        7.000000
25%       25.000000
50%       31.000000
75%       43.000000
max       73.000000
Name: age, dtype: float64


count     943
unique      2
top         M
freq      670
Name: gender, dtype: object


count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object


count       943
unique      795
top       55414
freq          9
Name: zip_code, dtype: object

__Task 6:__

Explore the age variable
<ol>
    <li/> What is the mean age of users?
    <li/> What is/are the age(s) with least occurence(s)?
</ol>

In [10]:
# Enter your code below
# =====================

print(users['age'].mean())
ages = users.age
ages_counts = ages.value_counts()

34.05196182396607

---

<img src="../images/medium.png"
     alt="Hierarchical clustering"
     style="width: 75px; float: right; margin: 20px" />

## Level: Medium <a class="anchor" id="medium"></a>

__Task 1:__

Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data, download and unzip the data. Assign the TSV file to a dataframe called `food`.

In [11]:
# Enter your code below
# =====================
food = pd.read_csv('en.openfoodfacts.org.products.tsv', sep="\t")
print(food)

/var/folders/nq/n7fl76l937vb42331rm644h80000gn/T/ipykernel_1373/1794504625.py:3: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  food = pd.read_csv('en.openfoodfacts.org.products.tsv', sep="\t")

                 code                                                url  \
0                3087  http://world-en.openfoodfacts.org/product/0000...
1                4530  http://world-en.openfoodfacts.org/product/0000...
2                4559  http://world-en.openfoodfacts.org/product/0000...
3               16087  http://world-en.openfoodfacts.org/product/0000...
4               16094  http://world-en.openfoodfacts.org/product/0000...
...               ...                                                ...
356022       99567453  http://world-en.openfoodfacts.org/product/9956...
356023  9970229501521  http://world-en.openfoodfacts.org/product/9970...
356024  9977471758307  http://world-en.openfoodfacts.org/product/9977...
356025  9980282863788  http://world-en.openfoodfacts.org/product/9980...
356026   999990026839  http://world-en.openfoodfacts.org/product/9999...

                           creator   created_t      created_datetime  \
0       openfoodfacts-contributors  1474103866  2016-09-17T09:17:46Z
1                  usda-ndb-import  1489069957  2017-03-09T14:32:37Z
2                  usda-ndb-import  1489069957  2017-03-09T14:32:37Z
3                  usda-ndb-import  1489055731  2017-03-09T10:35:31Z
4                  usda-ndb-import  1489055653  2017-03-09T10:34:13Z
...                            ...         ...                   ...
356022             usda-ndb-import  1489059076  2017-03-09T11:31:16Z
356023                      tomato  1422099377  2015-01-24T11:36:17Z
356024  openfoodfacts-contributors  1497018549  2017-06-09T14:29:09Z
356025  openfoodfacts-contributors  1492340089  2017-04-16T10:54:49Z
356026             usda-ndb-import  1489072709  2017-03-09T15:18:29Z

       last_modified_t last_modified_datetime  \
0           1474103893   2016-09-17T09:18:13Z
1           1489069957   2017-03-09T14:32:37Z
2           1489069957   2017-03-09T14:32:37Z
3           1489055731   2017-03-09T10:35:31Z
4           1489055653   2017-03-09T10:34:13Z
...                ...                    ...
356022      1491244499   2017-04-03T18:34:59Z
356023      1491244499   2017-04-03T18:34:59Z
356024      1500730305   2017-07-22T13:31:45Z
356025      1492340089   2017-04-16T10:54:49Z
356026      1491244499   2017-04-03T18:34:59Z

                                             product_name  \
0                                      Farine de blé noir
1                          Banana Chips Sweetened (Whole)
2                                                 Peanuts
3                                  Organic Salted Nut Mix
4                                         Organic Polenta
...                                                   ...
356022  Mint Melange Tea A Blend Of Peppermint, Lemon ...
356023                                            乐吧泡菜味薯片
356024                                      Biscottes bio
356025                           Tomates aux Vermicelles
356026                    Sugar Free Drink Mix, Peach Tea

                           generic_name quantity  ...  \
0                                   NaN      1kg  ...
1                                   NaN      NaN  ...
2                                   NaN      NaN  ...
3                                   NaN      NaN  ...
4                                   NaN      NaN  ...
...                                 ...      ...  ...
356022                              NaN      NaN  ...
356023  Leba pickle flavor potato chips     50 g  ...
356024                              NaN     300g  ...
356025                              NaN      67g  ...
356026                              NaN      NaN  ...

       fruits-vegetables-nuts_100g fruits-vegetables-nuts-estimate_100g  \
0                              NaN                                  NaN
1                              NaN                                  NaN
2                              NaN                                  NaN
3                              NaN                                  NaN
4                              NaN                                  NaN
...                            ...                                  ...
356022                         NaN                                  NaN
356023                         NaN                                  NaN
356024                         NaN                                  NaN
356025                         NaN                                  NaN
356026                         NaN                                  NaN

       collagen-meat-protein-ratio_100g cocoa_100g chlorophyl_100g  \
0                                   NaN        NaN             NaN
1                                   NaN        NaN             NaN
2                                   NaN        NaN             NaN
3                                   NaN        NaN             NaN
4                                   NaN        NaN             NaN
...                                 ...        ...             ...
356022                              NaN        NaN             NaN
356023                              NaN        NaN             NaN
356024                              NaN        NaN             NaN
356025                              NaN        NaN             NaN
356026                              NaN        NaN             NaN

       carbon-footprint_100g nutrition-score-fr_100g nutrition-score-uk_100g  \
0                        NaN                     NaN                     NaN
1                        NaN                    14.0                    14.0
2                        NaN                     0.0                     0.0
3                        NaN                    12.0                    12.0
4                        NaN                     NaN                     NaN
...                      ...                     ...                     ...
356022                   NaN                     0.0                     0.0
356023                   NaN                     NaN                     NaN
356024                   NaN                     NaN                     NaN
356025                   NaN                     NaN                     NaN
356026                   NaN                     NaN                     NaN

       glycemic-index_100g water-hardness_100g
0                      NaN                 NaN
1                      NaN                 NaN
2                      NaN                 NaN
3                      NaN                 NaN
4                      NaN                 NaN
...                    ...                 ...
356022                 NaN                 NaN
356023                 NaN                 NaN
356024                 NaN                 NaN
356025                 NaN                 NaN
356026                 NaN                 NaN

[356027 rows x 163 columns]

__Task 2:__

Explore the dataset. 
<ol>
    <li/> Print the FIRST 10 rows with columns 5, 6, 7 (hint: iloc)
    <li/> How many observations are there?
    <li/> How many columns are there?
    <li/> How is the dataset indexed?
</ol>

In [12]:
# Enter your code below
# =====================
print(food.iloc[:10, 5:8])

print(f'num observations = {food.shape[0]} and num cols = {food.shape[1]}')

  last_modified_t last_modified_datetime                       product_name
0      1474103893   2016-09-17T09:18:13Z                 Farine de blé noir
1      1489069957   2017-03-09T14:32:37Z     Banana Chips Sweetened (Whole)
2      1489069957   2017-03-09T14:32:37Z                            Peanuts
3      1489055731   2017-03-09T10:35:31Z             Organic Salted Nut Mix
4      1489055653   2017-03-09T10:34:13Z                    Organic Polenta
5      1489055651   2017-03-09T10:34:11Z  Breadshop Honey Gone Nuts Granola
6      1489055730   2017-03-09T10:35:30Z      Organic Long Grain White Rice
7      1489055712   2017-03-09T10:35:12Z                     Organic Muesli
8      1489055651   2017-03-09T10:34:11Z       Organic Dark Chocolate Minis
9      1489055654   2017-03-09T10:34:14Z              Organic Sunflower Oil
num observations = 356027 and num cols = 163

__Task 3:__

Explore the columns.
<ol>
    <li/> Use a for-loop to print the names of all the columns
    <li/> Print the name of the 105th column
    <li/> Print the dtype of the 105th column
</ol>

In [13]:
# Enter your code below
# =====================
for col in food.columns:
    print(col)

code
url
creator
created_t
created_datetime
last_modified_t
last_modified_datetime
product_name
generic_name
quantity
packaging
packaging_tags
brands
brands_tags
categories
categories_tags
categories_en
origins
origins_tags
manufacturing_places
manufacturing_places_tags
labels
labels_tags
labels_en
emb_codes
emb_codes_tags
first_packaging_code_geo
cities
cities_tags
purchase_places
stores
countries
countries_tags
countries_en
ingredients_text
allergens
allergens_en
traces
traces_tags
traces_en
serving_size
no_nutriments
additives_n
additives
additives_tags
additives_en
ingredients_from_palm_oil_n
ingredients_from_palm_oil
ingredients_from_palm_oil_tags
ingredients_that_may_be_from_palm_oil_n
ingredients_that_may_be_from_palm_oil
ingredients_that_may_be_from_palm_oil_tags
nutrition_grade_uk
nutrition_grade_fr
pnns_groups_1
pnns_groups_2
states
states_tags
states_en
main_category
main_category_en
image_url
image_small_url
energy_100g
energy-from-fat_100g
fat_100g
saturated-fat_100g
-butyric-acid_100g
-caproic-acid_100g
-caprylic-acid_100g
-capric-acid_100g
-lauric-acid_100g
-myristic-acid_100g
-palmitic-acid_100g
-stearic-acid_100g
-arachidic-acid_100g
-behenic-acid_100g
-lignoceric-acid_100g
-cerotic-acid_100g
-montanic-acid_100g
-melissic-acid_100g
monounsaturated-fat_100g
polyunsaturated-fat_100g
omega-3-fat_100g
-alpha-linolenic-acid_100g
-eicosapentaenoic-acid_100g
-docosahexaenoic-acid_100g
omega-6-fat_100g
-linoleic-acid_100g
-arachidonic-acid_100g
-gamma-linolenic-acid_100g
-dihomo-gamma-linolenic-acid_100g
omega-9-fat_100g
-oleic-acid_100g
-elaidic-acid_100g
-gondoic-acid_100g
-mead-acid_100g
-erucic-acid_100g
-nervonic-acid_100g
trans-fat_100g
cholesterol_100g
carbohydrates_100g
sugars_100g
-sucrose_100g
-glucose_100g
-fructose_100g
-lactose_100g
-maltose_100g
-maltodextrins_100g
starch_100g
polyols_100g
fiber_100g
proteins_100g
casein_100g
serum-proteins_100g
nucleotides_100g
salt_100g
sodium_100g
alcohol_100g
vitamin-a_100g
beta-carotene_100g
vitamin-d_100g
vitamin-e_100g
vitamin-k_100g
vitamin-c_100g
vitamin-b1_100g
vitamin-b2_100g
vitamin-pp_100g
vitamin-b6_100g
vitamin-b9_100g
folates_100g
vitamin-b12_100g
biotin_100g
pantothenic-acid_100g
silica_100g
bicarbonate_100g
potassium_100g
chloride_100g
calcium_100g
phosphorus_100g
iron_100g
magnesium_100g
zinc_100g
copper_100g
manganese_100g
fluoride_100g
selenium_100g
chromium_100g
molybdenum_100g
iodine_100g
caffeine_100g
taurine_100g
ph_100g
fruits-vegetables-nuts_100g
fruits-vegetables-nuts-estimate_100g
collagen-meat-protein-ratio_100g
cocoa_100g
chlorophyl_100g
carbon-footprint_100g
nutrition-score-fr_100g
nutrition-score-uk_100g
glycemic-index_100g
water-hardness_100g

In [18]:
print(f'The 105th column is {food.columns[105]}')
print(f'The datatype of the 105th column is {food.dtypes[105]}')

The 105th column is -fructose_100g
The datatype of the 105th column is float64

__Task 4:__

What is the product name of the 19th observation?

In [19]:
# Enter your code below
# =====================
food['product_name'][19]

'Organic Oat Groats'

__Task 5:__

Explore the realm of peanuts!
<ol>
    <li/> How many entries have a product name of 'Peanuts'?
    <li/> How many unique 'creator' values are associated with  the peanut-entries?
    <li/> Which creator is most frequent, and what is the number of entries from this creator in the peanut entries?
</ol>

In [11]:
# Enter your code below
# =====================

---

<img src="../images/challenging.png"
     alt="Hierarchical clustering"
     style="width: 75px; float: right; margin: 20px" />

## Level: Challenging <a class="anchor" id="challenge"></a>

__Task 1:__

Use the following URL to save the Bysykkel JSON dataset to a dataframe called `trips_df`: https://data-legacy.urbansharing.com/oslobysykkel.no/2016/09.json.zip. Familiarize yourself with the dataset.

In [12]:
# Enter your code below
# =====================

__Task 2:__

Use the `groupby` and `agg` methods to create a new dataframe, called `'trips_df_agg'` by aggregating the data by `start_station_id`.
   The aggregated dataframe should have the following index and columns:


* Index: `start_station_id`
* Column `'trip_count'`: Count of trips made from this station
* Column `'first_trip'`: First recorded trip made from this station (start timestamp)
* Column `'last_trip'`: Last recorded trip made from this station (start timestamp)

In [13]:
# Enter your code below
# =====================

__Task 3:__

Now sort the `trips_df_agg` dataframe by your `trip_count` column, in descending order.

In [14]:
# Enter your code below
# =====================

__Task 4:__

Going back to `trips_df`:
<ol> 
    <li/> Convert the datatypes of time-based columns to 'datetime64'
    <li/> Create a new column called 'day_of_week', containing the day number of the week for the entry. 
</ol>    

(Hint: Use the `.weekday()` function built into datetime objects)

In [15]:
# Enter your code below
# =====================

__Task 5:__

Which two days of the week have the highest activity levels? 
<ol>
    <li/>Use a histogram to observe `day_of_week` frequencies.
    <li/>Use a list of weekday names and value_counts() to create a dictionary of type: {'monday': 3255 ... }

In [16]:
# Enter your code below
# =====================

___
___